*.suo
BackpackTool.sln
*.db
BackpackTool.VC.VC.opendb
*.ilk
Debug/BackpackTool.pdb
*.tlog
Debug/BackpackTool.exe
*.dll
Debug/d3d9Hook.pdb
*.obj
*.pdb
Debug/DST.log
*.idb
DST.vcxproj
*.exe
*.iobj
*.ipdb
*.log
SharedMem.h